![](../images/bunker_sontec.jpeg)
<br>
Photo: [*The Bunker*](https://www.thebunkerstudio.com/)

# Who Do You Sound Like?
### Notebook 1: Data Collection & Cleaning
#### Adam Zucker
---

## The Problem

The advent of affordable tools for home recording over the last 20 years has made music creation more accessible than ever before. Simultaneously, social media platforms such as Instagram and Facebook have made it similarly cheap and easy to advertise yourself to a targeted audience. However, most budding musicians, and even seasoned industry veterans, don't always know the best way to reach new fans; the *how*, *who*, and *where* questions always loom tall when it's time for a new release.

**In this study, I intend to create a recommender system to show similarities between the music of a new artist and that of popular artists around the globe, in order to generate basic recommendations to best connect new artists with new fans. I'll base this model on data from hundreds of thousands of songs hosted on the popular streaming platform Spotify, along with metrics I'll extract from a new artist's music using a Python library called Librosa.**

## Background

With over 15 years of experience in the music industry, first as a musician and performer, and later as a sound designer, audio engineer, and producer, I believe I'm in a unique position to address this problem. I have an intimate knowledge of the process of creating music and much of the theory behind it on both sides of the mixing board, as well as the struggles of finding and connecting with your target audience as a new artist. You can find more information about my history in the industry on [LinkedIn](https://www.linkedin.com/in/awzucker/), and samples of my recent work as part of a collaborative project called [NO EVENS](https://noevens.com/).

I'm also fortunate enough to have many long-time friends in the industry, two of whom I spoke to regarding this project: [Jacob Bergson](https://www.tautmusic.com/), an independent musician and audio engineer at [The Bunker](https://www.thebunkerstudio.com/) recording studio in Brooklyn, NY, and [Joseph Kelley](https://www.linkedin.com/in/jjkelley/), the former Executive Director of Artist Relations at [Billboard](https://www.billboard.com/). Jacob was able to provide me with excellent insight on his extensive experience engineering multiple genres of music, which helped immensely as I decided how to engineer my own metrics to represent some of the more intangible qualities of music. Joe, on the other hand, has a wealth of knowledge to offer on the business landscape of the music industry: where and among what demographics artists are trending, what makes artists stand out in a digital landscape where anyone can easily post their music online, and so on.

## Scope

How far I made it. What's the data?

## Contents
- **Section 1:** Package and data imports
- **Section 2:** Data cleaning and feature selection
- **Section 3:** Data exports

---
### Section 1
#### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import seaborn as sns

import os
import IPython.display as ipd

---

**BELOW:** Importing master Spotify song dataset, sourced from [Kaggle](https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks?select=data.csv). Some brief descriptions of less tangible features, as defined by [Spotify](https://developer.spotify.com/documentation/web-api/reference/):
- **Acousticness:** A confidence measure from 0.0 to 1.0 of whether the track is acoustic.
- **Danceability:** How suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable. 
- **Energy:** A measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
- **Instrumentalness:** Predicts whether a track contains vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.
- **Liveness:** Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.
- **Loudness:** The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 dB.
- **Popularity:** The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are. Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g., the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity.
- **Speechiness:** Detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g., talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.
- **Valence:** A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g., happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g., sad, depressed, angry).

In [2]:
df = pd.read_csv('../data_raw/kg_spotify_master_data.csv')
df.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [3]:
df.tail()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
170648,0.608,2020,0.08460,"['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...",0.786,301714,0.808,0,0KkIkfsLEJbrcIhYsCL7L5,0.000289,7,0.0822,-3.702,1,China,72,2020-05-29,0.0881,105.029
170649,0.734,2020,0.20600,['Ashnikko'],0.717,150654,0.753,0,0OStKKAuXlxA0fMH54Qs6E,0.000000,7,0.1010,-6.020,1,Halloweenie III: Seven Days,68,2020-10-23,0.0605,137.936
170650,0.637,2020,0.10100,['MAMAMOO'],0.634,211280,0.858,0,4BZXVFYCb76Q0Klojq4piV,0.000009,4,0.2580,-2.226,0,AYA,76,2020-11-03,0.0809,91.688
170651,0.195,2020,0.00998,['Eminem'],0.671,337147,0.623,1,5SiZJoLXp3WOl3J4C8IK0d,0.000008,2,0.6430,-7.161,1,Darkness,70,2020-01-17,0.3080,75.055
170652,0.642,2020,0.13200,"['KEVVO', 'J Balvin']",0.856,189507,0.721,1,7HmnJHfs0BkFzX4x8j0hkl,0.004710,7,0.1820,-4.928,1,Billetes Azules (with J Balvin),74,2020-10-16,0.1080,94.991

In [4]:
df.shape

(170653, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   valence           170653 non-null  float64
 1   year              170653 non-null  int64
 2   acousticness      170653 non-null  float64
 3   artists           170653 non-null  object
 4   danceability      170653 non-null  float64
 5   duration_ms       170653 non-null  int64
 6   energy            170653 non-null  float64
 7   explicit          170653 non-null  int64
 8   id                170653 non-null  object
 9   instrumentalness  170653 non-null  float64
 10  key               170653 non-null  int64
 11  liveness          170653 non-null  float64
 12  loudness          170653 non-null  float64
 13  mode              170653 non-null  int64
 14  name              170653 non-null  object
 15  popularity        170653 non-null  int64
 16  release_date      170653 non-null  object
 17  speechiness       170653 non-null  float64
 18  tempo             170653 non-null  float64
dtypes: float64(9), int64(6), object(4)
memory usage: 24.7+ MB

---
---
### Section 2
#### Data Cleaning & Feature Selection

In [6]:
# Dropping the "explicit" column, as this won't be relevant for audio analysis
df.drop(columns='explicit', inplace=True)

In [7]:
# According to Spotify, "liveness" predicts whether or not the track was recorded as part of a live show.
# Spotify's algorithm looks for audience noise in the track to make these predictions. A value > 0.8 suggests the track is a live recording.
# Here, isolating and dropping assumed "live" recordings, as their sonic qualities usually differ quite a bit from studio-recorded music.
df = df[(df['liveness'] <= 0.8)]

# After checking the resulting dataframe, some live recording results still appeared. Dropping them here.
df = df[(df['name'].str.contains('- live', case=False)) == False]

In [8]:
df.shape

(165185, 18)

In [9]:
df.columns

Index(['valence', 'year', 'acousticness', 'artists', 'danceability',
       'duration_ms', 'energy', 'id', 'instrumentalness', 'key', 'liveness',
       'loudness', 'mode', 'name', 'popularity', 'release_date', 'speechiness',
       'tempo'],
      dtype='object')

**BELOW:** Some songs have duplicate entries in the dataframe. Some reasons duplicates can legitimately occur include cover versions by other artists, *single* and *album* versions of the same song, different songs with the same name, and often with orchestral music, different recordings of the same piece by different ensembles.

However, I want to be sure not to include any duplicate songs that actually have identical data with respect to musical features. Below, I'm using a simple `drop_duplicates()` method, factoring out the song's `id` (this is always unique on Spotify) and `popularity`. I'll also investigate the other potentially problematic duplicate case, in which there are album and single versions of a song that are very similar, but don't have identical metrics. This can happen because of the way albums are formatted versus the way singles are formatted.

In [10]:
# Defining the subset of columns I'll check for duplicate entries when passing rows into drop_duplicates()
dd_list = ['name', 'artists', 'tempo', 'key', 'loudness', 'mode', 'duration_ms', 'energy', 'instrumentalness', 'speechiness', 
           'acousticness', 'danceability', 'valence', 'liveness', 'year', 'release_date']

df.drop_duplicates(subset=dd_list, inplace=True)

In [11]:
df.shape

(163256, 18)

---

**BELOW**: Rounding `tempo` values to the nearest single decimal place. A few notes on this choice, and on tempo in general:
1. `tempo` is measured in beats per minute, and is generally expressed in integer values in the music world, though decimals can exist. During my time in the industry, I've never seen tempo expressed beyond one decimal place.
2. The decimal places exist in the original dataframe because the `tempo` metric is averaged for the entire song. Many songs recorded before the advent of digital recording and *click tracks* (a regular, metronomic pulse musicians hear in their headphones when recording to keep a steady pace) do not have a consistent tempo, due to natural human error in timing. 
3. Some old songs have also been altered by the idiosyncrasies of analog recording - an improperly aligned tape machine can cause small tempo fluctuations on playback, or when transferred to a new tape reel during the mastering process.
4. Ambient, orchestral, purely acoustic, purely vocal, and other such pieces without a strong pulse can also "trick" Spotify's tempo algorithm. Computers are largely able to infer tempo based on regular pulses (often in the attack sounds of drums and other rhythm instruments, known as *transients*) that machine learning algorithms can use as something like anchor points. Measuring the temporal distance between these "anchors" ideally yields a tempo.

In [12]:
# Rounding "tempo" to a single decimal place
df['tempo'] = round(df['tempo'], 1)

In [13]:
df['tempo'].value_counts()

120.0    909
128.0    694
130.0    692
100.0    671
140.0    643
        ...
34.5       1
36.6       1
195.5      1
32.8       1
215.8      1
Name: tempo, Length: 1774, dtype: int64

In [14]:
# I already see some oddities with tempo - for example, the minimum tempo in the dataframe is 0, which isn't possible.
df['tempo'].describe()

count    163256.000000
mean        116.805682
std          30.695406
min           0.000000
25%          93.400000
50%         114.700000
75%         135.400000
max         243.500000
Name: tempo, dtype: float64

**Tempo** cannot be 0, or no beats per minute. In fact, barely any music, and especially modern music, exists with a tempo of less than 40 beats per minute. As you can see above, the bottom 25th percentile of tempos fall below 96 bpm, with a mean of around 120 bpm. This in mind, I'm dropping all entries with a tempo below 40 bpm, as I don't believe those measurements to be reliable.

In [15]:
# Dropping tracks with a tempo less than 40. Most of these appear to be ambient sounds anyway, like "Fan Sounds" and "White Noise Meditation"
df = df[df['tempo'] >= 40]

As mentioned **above**, age can drastically affect an audio recording. In the early half of the 20th century, recording technology was still very much in its infancy. The full frequency range of human hearing (20Hz to 20kHz) wasn't reproduceable with the microphones and media of the time, and additional noise, often in the form of white noise, mechanical noise, or electrical hum, was clearly audible. With this in mind, I'm going to drop entries for songs recorded prior to 1960, as noise and generation loss become larger problems as you go back further in time. The excessive noise and poor sound reproduction of many of these recordings are likely to skew their metrics.

In [16]:
# Dropping all tracks from before 1960
df = df[(df['year'] >= 1960)]

In [17]:
df['year'].value_counts()

2018    2080
1967    1964
1998    1959
2001    1957
2014    1955
        ...
1977    1782
1960    1772
2016    1771
1976    1769
1961    1759
Name: year, Length: 61, dtype: int64

In [18]:
df['year'].describe()

count    115200.000000
mean       1990.298620
std          17.578021
min        1960.000000
25%        1975.000000
50%        1990.000000
75%        2005.000000
max        2020.000000
Name: year, dtype: float64

**ABOVE:** Looking at the distribution of `year` in the dataframe, it appears that the top 50th percentile of songs (based on year) in the dataframe are from 1990 or later.

**BELOW:** Based on the metrics above, I'm going to do some EDA regarding `year` and `popularity`. The goal is to determine if it's wise to drop the bottom 50th percentile of years, as Spotify's popularity algorithm factors a song's newness into its popularity score. Looking at popularity statistics by year reinforces this weighting, as mean popularity almost universally increases year over year.

In [19]:
df['popularity'].describe()

count    115200.000000
mean         42.542266
std          15.506639
min           0.000000
25%          31.000000
50%          42.000000
75%          53.000000
max         100.000000
Name: popularity, dtype: float64

In [20]:
df['popularity'].groupby(by=df['year']).describe()

       count       mean        std  min   25%   50%   75%    max
year
1960  1772.0  19.815463  11.082582  5.0  12.0  17.0  25.0   76.0
1961  1759.0  19.774872  11.254397  4.0  12.0  17.0  25.0   78.0
1962  1820.0  22.325275  11.953213  6.0  13.0  19.0  28.0   78.0
1963  1910.0  25.761780  11.601255  9.0  17.0  23.0  31.0   83.0
1964  1860.0  26.420968  11.903986  9.0  18.0  24.0  32.0   85.0
...      ...        ...        ...  ...   ...   ...   ...    ...
2016  1771.0  59.659514  11.760311  0.0  56.0  60.0  65.0   88.0
2017  1926.0  63.237799  11.311437  0.0  59.0  63.0  68.0   87.0
2018  2080.0  63.375481  15.412989  0.0  61.0  65.0  70.0   89.0
2019  1926.0  65.407061  16.018737  0.0  63.0  67.0  73.0   94.0
2020  1922.0  66.724766  19.135880  0.0  66.0  71.0  76.0  100.0

[61 rows x 8 columns]

In [21]:
# Based on the above popularity scores, I'm dropping all entries prior to 1990.
df = df[(df['year'] >= 1990)]

In [22]:
df.shape

(59526, 18)

---

**BELOW:** In music theory, we often talk about *modality*, in addition to *key*, to quantify note relationships within the context of a piece of music. 

In modern theory, there are seven modes. Each mode has a Greek name and a Roman numeral associated with it that represents the *scale degree* on which the mode starts. If the Roman numeral is uppercase, the mode is considered to have a *major* tonality, while if the numeral is lowercase, the tonality is considered *minor* (there's one exception to this: the Locrian mode, which has a *diminished* tonality, but could also be considered a *minor* variant). In order, the modes are Ionian ($I$), Dorian ($ii$), Phrygian ($iii$), Lydian ($IV$), Mixolydian ($V$), Aeolian ($vi$), and Locrian ($vii^ø$). When a song key is given in *major*, it's referring to the Ionian mode, where the key's *tonic*, or first note/fundamental pitch is the first note in the Ionian scale. Each *major key* has a direct relationship with a specific *minor key*, called the *relative minor*, which is given by the Aeolian mode (also known as the *natural minor scale*) of the corresponding *major* key. The relative *natural minor scale* to a *major key* begins three *semitones* below the *major scale's tonic* (e.g., C Major contains the same notes as A minor, G Major as E minor, F Major as D minor, etc.).

> As you'll see in the chart below (in the `Notation On White Notes` column), each successive mode contains all the same notes as the relative Ionian scale, but simply starts on the next *scale degree*, which also corresponds to the Roman numeral. So, in this example, one could say:
>
> **C Ionian = D Dorian = E Phrygian = F Lydian = G Mixolydian = A Aeolian = B Locrian**
>
> Though each scale will sound different and elicit different emotional responses because of the intervallic shifts between consecutive notes, all are comprised of the same seven notes: **C, D, E, F, G, A, B**.
>
> <img src='../images/modes.png' alt='drawing' width='900'/>

This is important in my study because, as humans, we can generally distinguish between *major* and *minor* keys by ear. *Major* keys tend to have a "happy" or "positive" sound, while *minor* keys tend to have a "darker" or "sadder" sound. However, computers don't always get this classification right, due to the fact that the notes are the same in corresponding *major* and *minor* keys, and the emotions each sequence of the same notes elicits is hard to quantify statistically. Therefore, if Spotify or Librosa classify a song as being in A minor, for example, I'd like my algorithm to also factor in the possibility that the key could in fact be represented as C Major too, so as not to rule out any similar tracks based on a misclassified key.

Spotify only offers values of `0` or `1` for `mode`, where `0` represents a *minor* key (or the Aeolian mode), and `1` represents a *major* key (or the Ionian mode).

In [23]:
# Modality (here defined as 0 for a minor key, 1 for a major key)
# Checking for entries where "mode" is equal to -1. This is the equivalent of a null or non-conclusive analysis.
# None found
df[df['mode'] == -1]

Empty DataFrame
Columns: [valence, year, acousticness, artists, danceability, duration_ms, energy, id, instrumentalness, key, liveness, loudness, mode, name, popularity, release_date, speechiness, tempo]
Index: []

In [24]:
# Key (here defined as 0-11, where 0 represents C, and keys increase chromatically with integer)
# Checking for entries where "key" is equal to -1. This is the equivalent of a null or non-conclusive analysis.
# None found
df[df['key'] == -1]

Empty DataFrame
Columns: [valence, year, acousticness, artists, danceability, duration_ms, energy, id, instrumentalness, key, liveness, loudness, mode, name, popularity, release_date, speechiness, tempo]
Index: []

In [25]:
# # Engineering the relative keys for each song

# for k in df['key']:
#     for m in df['mode']:
#         if m == 0:
#             df['secondary_key'] = k + 3
#             df['secondary_mode'] = 1
#         elif m == 1:
#             df['secondary_key'] = k - 3
#             df['secondary_mode'] = 0

# -------------
# for m in df['mode']:
#     if m == 0:
#         for k in df['key']:
#             df['secondary_key'] = k + 3
#             df['secondary_mode'] = 1
#     elif m == 1:
#         for k in df['key']:
#             df['secondary_key'] = k - 3
#             df['secondary_mode'] = 0

In [26]:
# Engineering a feature for "full_key", which contains the letter representing the key's fundamental pitch, and the modality,
# here representing whether the key is major or minor.
df['key_letter'] = df['key'].map({0: 'C', 1: 'C#', 2: 'D', 3: 'D#', 4: 'E', 5: 'F', 6: 'F#', 7: 'G', 8: 'G#', 9: 'A', 10: 'A#', 11: 'B'})
df['maj_min'] = df['mode'].map({0: 'minor', 1: 'major'})

df['full_key'] = df['key_letter'] + ' ' + df['maj_min']

In [27]:
# Dropping columns engineered to make "full_key", as they're no longer necessary.
df.drop(columns=['key_letter', 'maj_min'], inplace=True)

---

In [28]:
df.columns

Index(['valence', 'year', 'acousticness', 'artists', 'danceability',
       'duration_ms', 'energy', 'id', 'instrumentalness', 'key', 'liveness',
       'loudness', 'mode', 'name', 'popularity', 'release_date', 'speechiness',
       'tempo', 'full_key'],
      dtype='object')

In [29]:
# Reordering columns
df = df[['name', 'artists', 'tempo', 'key', 'mode', 'full_key', 'loudness', 'duration_ms', 'energy', 'instrumentalness', 'speechiness', 
         'acousticness', 'danceability', 'valence', 'popularity', 'liveness', 'year', 'release_date', 'id']]

In [30]:
df.head()

,name,artists,tempo,key,mode,full_key,loudness,duration_ms,energy,instrumentalness,speechiness,acousticness,danceability,valence,popularity,liveness,year,release_date,id
13606,Thunderstruck,['AC/DC'],133.5,4,1,E major,-5.175,292880,0.890,0.011700,0.0364,0.000147,0.502,0.259,83,0.2170,1990,1990-09-24,57bgtoPSgt236HzfBOd8kj
13607,Carol of the Bells,"['Mykola Dmytrovych Leontovych', 'John Williams']",46.7,8,0,G# minor,-22.507,85267,0.106,0.029200,0.0448,0.994000,0.418,0.800,73,0.1790,1990,1990,4tHqQMWSqmL6YjXwsqthDI
13608,Man in the Box,['Alice In Chains'],106.4,8,1,G# major,-7.565,285200,0.791,0.000000,0.0453,0.000450,0.355,0.758,73,0.0969,1990,1990-08-01,6gZVQvQZOFpzIy3HblJ20F
13609,Don't Go Breaking My Heart,"['Elton John', 'Kiki Dee']",131.2,5,1,F major,-7.823,271133,0.863,0.000006,0.0380,0.177000,0.742,0.776,69,0.0699,1990,1990-11-08,5pKJtX4wBeby9qIfFhyOJj
13610,This Christmas,['Donny Hathaway'],93.0,5,1,F major,-9.200,231173,0.645,0.000000,0.0376,0.292000,0.634,0.677,70,0.2460,1990,1990-04-03,38xhBO2AKrJnjdjVnhJES6

---

In [31]:
df[['popularity']].describe()

         popularity
count  59526.000000
mean      51.144239
std       12.885932
min        0.000000
25%       43.000000
50%       51.000000
75%       60.000000
max      100.000000

Based on the metrics immediately **above**, I'm going to drop all songs with a popularity rating of less than 25 out of 100. I landed on a value of 25 because, even though the bottom 25th percentile is a score of 43 or below, I do want to retain some of the lower values to account for niche music that may not get as many streams or have the level of exposure as popular commercially released music. Given that the point of the project is to help new artists market themselves, I don't believe there's much value in keeping tracks with extremely low popularity scores.

In [32]:
# Dropping all songs with a popularity rating of less than 25 out of 100.
df = df[(df['popularity'] >= 25)]

# Dropping all rows where the "artists" feature contains the word "Cast" and "Broadway Company".
# These are Broadway and musical film cast recordings, which are not within the scope of this project's goals. 
df = df[(df['artists'].str.contains('Cast', case=False)) == False]
df = df[(df['artists'].str.contains('Broadway Company', case=False)) == False]

# Similarly dropping artists containing the phrase "Motion Picture".
df = df[(df['artists'].str.contains('Motion Picture', case=False)) == False]

# I also noticed some Charlie Chaplin dialogue recordings in the dataframe. Dropping here.
df = df[(df['artists'].str.contains('Charlie Chaplin', case=False)) == False]

# Same with "Legally Blonde"
df = df[(df['artists'].str.contains('Legally Blonde', case=False)) == False]

In [33]:
df.head()

,name,artists,tempo,key,mode,full_key,loudness,duration_ms,energy,instrumentalness,speechiness,acousticness,danceability,valence,popularity,liveness,year,release_date,id
13606,Thunderstruck,['AC/DC'],133.5,4,1,E major,-5.175,292880,0.890,0.011700,0.0364,0.000147,0.502,0.259,83,0.2170,1990,1990-09-24,57bgtoPSgt236HzfBOd8kj
13607,Carol of the Bells,"['Mykola Dmytrovych Leontovych', 'John Williams']",46.7,8,0,G# minor,-22.507,85267,0.106,0.029200,0.0448,0.994000,0.418,0.800,73,0.1790,1990,1990,4tHqQMWSqmL6YjXwsqthDI
13608,Man in the Box,['Alice In Chains'],106.4,8,1,G# major,-7.565,285200,0.791,0.000000,0.0453,0.000450,0.355,0.758,73,0.0969,1990,1990-08-01,6gZVQvQZOFpzIy3HblJ20F
13609,Don't Go Breaking My Heart,"['Elton John', 'Kiki Dee']",131.2,5,1,F major,-7.823,271133,0.863,0.000006,0.0380,0.177000,0.742,0.776,69,0.0699,1990,1990-11-08,5pKJtX4wBeby9qIfFhyOJj
13610,This Christmas,['Donny Hathaway'],93.0,5,1,F major,-9.200,231173,0.645,0.000000,0.0376,0.292000,0.634,0.677,70,0.2460,1990,1990-04-03,38xhBO2AKrJnjdjVnhJES6

In [34]:
df.shape

(58409, 19)

---

**BELOW:** Because the number of songs included in the dataframe differ so much from artist to artist, looking at popularity this way will not be representative of an artist's overall popularity. However, we can still glean a lot about marketability on the song level, without relying too heavily on an artist's overall popularity.

In [35]:
# Looking at popularity statistics based on artist. See caveat above.
df['popularity'].groupby(by=df['artists']).describe()

,count,mean,std,min,25%,50%,75%,max
artists,,,,,,,,
"[""Adolescent's Orquesta""]",8.0,62.375,4.206712,54.0,61.5,62.0,66.0,67.0
"[""Alexander O'Neal""]",1.0,35.000,NaN,35.0,35.0,35.0,35.0,35.0
"[""Amy Hanaiali'i"", 'Willie K']",1.0,35.000,NaN,35.0,35.0,35.0,35.0,35.0
"[""Auli'i Cravalho"", 'Vai Mahina', ""Olivia Foa'i"", ""Opetaia Foa'i"", 'Matthew Ineleo']",1.0,62.000,NaN,62.0,62.0,62.0,62.0,62.0
"[""Auli'i Cravalho""]",2.0,68.000,8.485281,62.0,65.0,68.0,71.0,74.0
...,...,...,...,...,...,...,...,...
['那英'],1.0,49.000,NaN,49.0,49.0,49.0,49.0,49.0
['邰正宵'],1.0,41.000,NaN,41.0,41.0,41.0,41.0,41.0
['須田景凪'],1.0,67.000,NaN,67.0,67.0,67.0,67.0,67.0
['黃品源'],1.0,48.000,NaN,48.0,48.0,48.0,48.0,48.0
['黑豹'],1.0,35.000,NaN,35.0,35.0,35.0,35.0,35.0

In [36]:
# After cleaning, the dataframe contains 18,493 distinct artists, and Taylor Swift is the most frequently occurring artist
df[['artists']].describe()

                 artists
count              58409
unique             18445
top     ['Taylor Swift']
freq                 180

---

**BELOW:** Dummifying `full_key` for modeling purposes.

In [37]:
key_dummies = pd.get_dummies(df['full_key'], drop_first=True)
key_dummies.head()

,A minor,A# major,A# minor,B major,B minor,C major,C minor,C# major,C# minor,D major,...,E major,E minor,F major,F minor,F# major,F# minor,G major,G minor,G# major,G# minor
13606,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
13607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13609,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13610,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
# Merging the dummified keys back to the original dataframe
df = pd.concat((df, key_dummies), axis=1)

In [39]:
df.head()

,name,artists,tempo,key,mode,full_key,loudness,duration_ms,energy,instrumentalness,...,E major,E minor,F major,F minor,F# major,F# minor,G major,G minor,G# major,G# minor
13606,Thunderstruck,['AC/DC'],133.5,4,1,E major,-5.175,292880,0.890,0.011700,...,1,0,0,0,0,0,0,0,0,0
13607,Carol of the Bells,"['Mykola Dmytrovych Leontovych', 'John Williams']",46.7,8,0,G# minor,-22.507,85267,0.106,0.029200,...,0,0,0,0,0,0,0,0,0,1
13608,Man in the Box,['Alice In Chains'],106.4,8,1,G# major,-7.565,285200,0.791,0.000000,...,0,0,0,0,0,0,0,0,1,0
13609,Don't Go Breaking My Heart,"['Elton John', 'Kiki Dee']",131.2,5,1,F major,-7.823,271133,0.863,0.000006,...,0,0,1,0,0,0,0,0,0,0
13610,This Christmas,['Donny Hathaway'],93.0,5,1,F major,-9.200,231173,0.645,0.000000,...,0,0,1,0,0,0,0,0,0,0

---

**BELOW:** Looking at track duration summary statistics, and then filtering out entries for extremely short and extremely long tracks.

In [40]:
# Engineering a new column to see track length in seconds, for easier analysis, and rounding to one decimal place.
df['duration_s'] = round((df['duration_ms'] / 1000), 1)

In [41]:
df['duration_s'].describe()

count    58409.000000
mean       235.045264
std         87.959997
min         30.100000
25%        191.400000
50%        225.500000
75%        265.800000
max       4270.000000
Name: duration_s, dtype: float64

Based on most current popular music, I'm going to limit my datafram to track lengths between 75 seconds and 420 seconds, or roughly a minute and a quarter to seven minutes in length.

In [42]:
# Filtering out tracks less than 75 seconds in length and greater than 420 seconds in length.
df = df[(df['duration_s'] >= 75.0) & (df['duration_s'] <= 420.0)]

In [43]:
df.head()

,name,artists,tempo,key,mode,full_key,loudness,duration_ms,energy,instrumentalness,...,E minor,F major,F minor,F# major,F# minor,G major,G minor,G# major,G# minor,duration_s
13606,Thunderstruck,['AC/DC'],133.5,4,1,E major,-5.175,292880,0.890,0.011700,...,0,0,0,0,0,0,0,0,0,292.9
13607,Carol of the Bells,"['Mykola Dmytrovych Leontovych', 'John Williams']",46.7,8,0,G# minor,-22.507,85267,0.106,0.029200,...,0,0,0,0,0,0,0,0,1,85.3
13608,Man in the Box,['Alice In Chains'],106.4,8,1,G# major,-7.565,285200,0.791,0.000000,...,0,0,0,0,0,0,0,1,0,285.2
13609,Don't Go Breaking My Heart,"['Elton John', 'Kiki Dee']",131.2,5,1,F major,-7.823,271133,0.863,0.000006,...,0,1,0,0,0,0,0,0,0,271.1
13610,This Christmas,['Donny Hathaway'],93.0,5,1,F major,-9.200,231173,0.645,0.000000,...,0,1,0,0,0,0,0,0,0,231.2

In [44]:
df['duration_s'].describe()

count    56798.000000
mean       229.189033
std         57.664611
min         75.000000
25%        191.300000
50%        224.500000
75%        262.500000
max        420.000000
Name: duration_s, dtype: float64

In [45]:
df.shape

(56798, 43)

---

In [46]:
df.columns

Index(['name', 'artists', 'tempo', 'key', 'mode', 'full_key', 'loudness',
       'duration_ms', 'energy', 'instrumentalness', 'speechiness',
       'acousticness', 'danceability', 'valence', 'popularity', 'liveness',
       'year', 'release_date', 'id', 'A minor', 'A# major', 'A# minor',
       'B major', 'B minor', 'C major', 'C minor', 'C# major', 'C# minor',
       'D major', 'D minor', 'D# major', 'D# minor', 'E major', 'E minor',
       'F major', 'F minor', 'F# major', 'F# minor', 'G major', 'G minor',
       'G# major', 'G# minor', 'duration_s'],
      dtype='object')

In [47]:
# Dropping "release_date" column since I already have "year". For the scope of this project, an exact release date isn't necessary.
df.drop(columns='release_date', inplace=True)

In [48]:
# Reordering columns again for clarity
df = df[['name', 'artists', 'tempo', 'key', 'mode', 'full_key', 'A minor', 'A# major', 'A# minor', 'B major', 'B minor', 
         'C major', 'C minor', 'C# major', 'C# minor', 'D major', 'D minor', 'D# major', 'D# minor', 'E major', 'E minor',
         'F major', 'F minor', 'F# major', 'F# minor', 'G major', 'G minor', 'G# major', 'G# minor', 'loudness', 'duration_s', 
         'duration_ms', 'energy', 'instrumentalness', 'speechiness', 'acousticness', 'danceability', 'valence', 'popularity', 
         'liveness', 'year', 'id']]

In [49]:
df.head()

,name,artists,tempo,key,mode,full_key,A minor,A# major,A# minor,B major,...,energy,instrumentalness,speechiness,acousticness,danceability,valence,popularity,liveness,year,id
13606,Thunderstruck,['AC/DC'],133.5,4,1,E major,0,0,0,0,...,0.890,0.011700,0.0364,0.000147,0.502,0.259,83,0.2170,1990,57bgtoPSgt236HzfBOd8kj
13607,Carol of the Bells,"['Mykola Dmytrovych Leontovych', 'John Williams']",46.7,8,0,G# minor,0,0,0,0,...,0.106,0.029200,0.0448,0.994000,0.418,0.800,73,0.1790,1990,4tHqQMWSqmL6YjXwsqthDI
13608,Man in the Box,['Alice In Chains'],106.4,8,1,G# major,0,0,0,0,...,0.791,0.000000,0.0453,0.000450,0.355,0.758,73,0.0969,1990,6gZVQvQZOFpzIy3HblJ20F
13609,Don't Go Breaking My Heart,"['Elton John', 'Kiki Dee']",131.2,5,1,F major,0,0,0,0,...,0.863,0.000006,0.0380,0.177000,0.742,0.776,69,0.0699,1990,5pKJtX4wBeby9qIfFhyOJj
13610,This Christmas,['Donny Hathaway'],93.0,5,1,F major,0,0,0,0,...,0.645,0.000000,0.0376,0.292000,0.634,0.677,70,0.2460,1990,38xhBO2AKrJnjdjVnhJES6

In [50]:
df.shape

(56798, 42)

---
---
### Section 3
#### Re-Indexing & Exports

**NOTE:** I began with a dataframe containing 170,653 rows, and have cut it down through cleaning to 56,798 rows. Though this means I'm only keeping about 33% of my original data, I believe this is justified:
1. Roughly 60,000 entries should be plenty of data to train a preliminary model.
2. The data I removed was done so strategically, and with respect to metrics that I intuitively know carry more weight, given my history in the music industry.
3. Limiting the data to recent and at least somewhat popular music ensures that the model will compare your music against relevant songs and artists.

In [51]:
# Sorting dataframe by year
df.sort_values(by='year', inplace=True)

In [52]:
# Resetting index for final clean dataframe
df.reset_index(inplace=True)
df.drop(columns='index', inplace=True)

In [53]:
df.head()

,name,artists,tempo,key,mode,full_key,A minor,A# major,A# minor,B major,...,energy,instrumentalness,speechiness,acousticness,danceability,valence,popularity,liveness,year,id
0,Thunderstruck,['AC/DC'],133.5,4,1,E major,0,0,0,0,...,0.890,0.01170,0.0364,0.000147,0.502,0.259,83,0.217,1990,57bgtoPSgt236HzfBOd8kj
1,The Gift of Love,['Bette Midler'],157.5,8,1,G# major,0,0,0,0,...,0.467,0.00000,0.0287,0.359000,0.486,0.286,38,0.110,1990,7FUc1xVSKvABmVwI6kS5Y4
2,Thelma - Bonus Track,['Paul Simon'],94.0,5,1,F major,0,0,0,0,...,0.529,0.08450,0.0770,0.872000,0.710,0.882,29,0.093,1990,7pcEC5r1jVqWGRypo9D7f7
3,How I Need You,['Bad Boys Blue'],123.1,9,0,A minor,1,0,0,0,...,0.670,0.00347,0.0398,0.072400,0.652,0.963,44,0.119,1990,1yq8h4zD0IDT5X1YTaEwZh
4,Nunca Dudes De Mi,['El Golpe'],143.1,4,1,E major,0,0,0,0,...,0.490,0.00000,0.0295,0.151000,0.476,0.514,31,0.305,1990,5kNYkLFs3WFFgE6qhfWDEm

In [54]:
df.shape

(56798, 42)

In [55]:
df['year'].value_counts()

2018    1961
2002    1906
2001    1891
1998    1886
1996    1880
2006    1874
2010    1873
1990    1869
2017    1868
2014    1868
2011    1867
1995    1856
1997    1854
1994    1850
2007    1840
2004    1838
2000    1831
1992    1830
2005    1829
1993    1828
2009    1827
2019    1820
2008    1801
2003    1800
2013    1792
1999    1790
2020    1787
1991    1780
2015    1737
2016    1684
2012    1681
Name: year, dtype: int64

In [56]:
# Data by year is quite evenly distributed
df['year'].value_counts(normalize=True)

2018    0.034526
2002    0.033558
2001    0.033293
1998    0.033205
1996    0.033100
2006    0.032994
2010    0.032977
1990    0.032906
2017    0.032888
2014    0.032888
2011    0.032871
1995    0.032677
1997    0.032642
1994    0.032572
2007    0.032396
2004    0.032360
2000    0.032237
1992    0.032219
2005    0.032202
1993    0.032184
2009    0.032167
2019    0.032043
2008    0.031709
2003    0.031691
2013    0.031550
1999    0.031515
2020    0.031462
1991    0.031339
2015    0.030582
2016    0.029649
2012    0.029596
Name: year, dtype: float64

In [57]:
# Exporting cleaned dataframe to csv
df.to_csv('../data_clean/spotify_kg_master.csv', index=False)

---